/*nav*/
.menu{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#lnb{
    flex: 1;
    overflow-y: auto;
    border: 1px solid #dad8cc;
    padding: 1em;
    border-radius: 10px;
    background-color: white;
}
.lnb > ul{
    padding: 0;
}

.menu-top{
    font-weight: bold;
    margin-top: 3px;
}
.menu-icon button{
    padding: 5px;
}
.menu-text{
    display: inline-block;
    width: 100%;
}
.submenu{
    padding-left: 1em;
}
.dropdown-menu{
    padding-left: 1em;
}

.menu-area{
    padding: 0.7em 1em;
    border-radius: 5px;
}
.menu-area a{
    display: inline-block;
    width: 100%;
    font-size: 1em;
}
.menu-select{
    background-color: #f5f5f5;
}
#timestart{
    width: 100%;
}
.m-size-nav{
    display: none;
}
.studyTime{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 10px;
    border: 1px solid #dad8cc;
    background: #FFFFFF;
}

/*header*/
#skipnav{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3b593f;
    text-align: center;
    padding: 1em;
    width: 100%;
    opacity: 0;
}
#skipnav a{
    color: #D0D8C4;
}
.r-header{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

#topmenu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    padding: 1em 0;
}
.topmenu i{
    margin-right: 0.3em;
}
#weatherInfo{
    display: flex;
    align-items: center;
}
#weatherInfo img{
    width: 60px;
}

/*프로필 이미지*/
.profile{
    display: flex;
}
.profile-img{
    display: inline-block;
    width: 3em;
    height: 3em;
    border: 1px solid green;
    border-radius: 50%;
    overflow: hidden;
}
.profile-img img{
    width: 100%;
    height: 100%;
}
.status{
    border-radius: 50%;
    width: 0.6em;
    height: 0.6em;
    background-color: yellow;
}
.status span{
    position: absolute;
    opacity: 0;
}
/*알림 목록*/
.alarm{
    position: absolute;
    top: 70px;
    gap: 5px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #588159;
    background-color: white;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    z-index: 2;
}
.profile-username{
    margin: 5px 0 10px 0;
}
.alarmList ul{
    padding: 5px;
    margin: 0;
}
.alarmList li{
    margin: 7px 0;
}
.alarm button{
    width: 100%;
}
.alarm h3{
    margin: 5px;
}

/*main*/
#content h1{
    font-size: 2em;
    margin: 0 0 20px 0;
}

/*footer*/
footer {
    display: block;
    text-align: center;
    height: 200px;
    padding: 2em;
    background-color: #dad8cc;
    color: #545454;
    margin-top: 2em;
}

.teammember {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6%;
}

footer p{
    margin: 2em 0 0 0;
}

.top {
    position: fixed;
    right: 2%;
    bottom: 50px;
    padding: 10px 13px;
    opacity: 0.8;
}

.top i {
    font-size: 15px;
}

.top span {
    font-size: 12px;
}

.top:hover,
.top:focus {
    opacity: 1;
}

/*타이머 영역*/
#timer{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}
.time-area{
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-80%);
    font-size: 7em;
    width: 50%;
}
.time-area p{
    margin: 0 0.4em;
    font-size: 130px;
}
.time-button{
    width: 100%;
}
.time-button button{
    width: 100%;
    margin: 2em 0.3em;
    font-size: medium;
    font-weight: bold;
}
#time-stop{
    background-color: #D0D8C4;
    color: #545454;
}
#time-pause{
    background-color: #A2B18A;
    color: #222222;
}
.unfinished-todo{
    color: #898989;
    width: 80%;
    text-align: left;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.unfinished-todo .todolist{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    font-size: 1.2em;
    margin: 2em 0.2em;
}

.timer-close{
    position: absolute;
    top: 2em;
    right: 2em;
    background: none;
}
.timer-close i{
    color: #f0f0f0;
}
.timer-content{
    width: 100%;
}
.timer-recode{
    width: 100%;
    height: 50px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    resize: none;
}

/*할 일 목록*/
.todolist{
    position: relative;
}
.todolist li{
    margin: 5px 0;
}

/*모달*/
.modal{
    opacity : 0;
    position: fixed;
    top: 0px; left: 0;
    width: 100%; height: 100%;
    max-width : 100%;
    max-height : 100%;
    display: flex;
    justify-content: center;
    align-items : center;
    transition : opacity 0.5s;
}
.modal.opaque{
    opacity : 1;
    transition : opacity 0.5s;
}
.modal.unstaged {
    top:-100px;
    height : 0;
}

.modal-overlay{
    position : absolute;
    width : 100%;
    height : 100%;
    background-color : RGBA(0, 0, 0, 0.6);
}

.modal-contents{
    display:flex;
    min-width: 300px;
    flex-direction : column;
    align-items : center;
    position: relative;
    padding: 1em 2em;
    background-color: rgb(255,255,255);
    border-radius: 5px;
    margin: 2em 0;
}

.modal-text{
    gap: 7em;
    width: 100%;
}

.modal-bottom .modal-close{
    color: white;
    background-color : #3b593f;
    border-radius: 5px;
}
.modal-close:hover{
    color: white;
    background-color : #3b593f;
}
.modal-center{
    margin: 2em 0;
}

#modal-container button{
    padding: 1em 2em;
}
#modal-container .modal-close-x{
    padding: 1em 0 1em 1em;
}

/*타이머 모달*/
.timer-modal{
    opacity : 0;
    position: fixed;
    top: 0px; left: 0;
    width: 100%; height: 100%;
    max-width : 100%;
    max-height : 100%;
    display: flex;
    justify-content: center;
    align-items : center;
    transition : opacity 0.5s;
}
.timer-modal.opaque{
    opacity : 1;
    transition : opacity 0.5s;
}
.timer-modal.unstaged {
    top:-100px;
    height : 0;
}

.timer-modal-overlay{
    position : absolute;
    width : 100%;
    height : 100%;
    background-color : RGBA(0, 0, 0, 0.6);
}

.timer-modal-contents{
    width: 20em;
    display:flex;
    flex-direction : column;
    align-items : center;
    position: relative;
    padding: 1em 2em;
    background-color: rgb(255,255,255);
    border-radius: 5px;
    margin: 2em 0;
}

.timer-modal-text{
    gap: 7em;
    width: 100%;
}

.timer-modal-bottom .timer-modal-close{
    color: white;
    background-color : #3b593f;
    border-radius: 5px;
}
.timer-modal-close:hover{
    color: white;
    background-color : #3b593f;
}
.timer-modal-center{
    margin: 1em 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.3em;
}

#timer-modal-container button{
    padding: 1em 2em;
}
#timer-modal-container .modal-close-x{
    padding: 1em 0 1em 1em;
}