p, span{
    font-size: 90%;
}
body {
    height: 100vh;
    margin: 0;
}
.mainContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2em;
    grid-auto-rows: auto;
}
nav {
    grid-column: 1 / 1;
    grid-row: 1;
}

main {
    grid-column: 2 / 6;
    grid-row: 1;
}

header{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2em;
    grid-auto-rows: auto;
    padding: 2em 0;
}
.logoarea{
    grid-column: 1 / 1;
    grid-row: 1;
}
.r-header{
    grid-column: 2 / 6;
    grid-row: 1;
}

/*flex 공통*/
.flex-colum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-columleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.flex-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header, section{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0.5em 4em;
}