@media (max-width: 1500px) {
    .mainContaner{
        margin: 0 3em;
    }
}
@media (max-width: 1280px) {
    /*메인메뉴 medium사이즈*/
    nav{
        display: none;
    }
    .mainContainer{
        display: block;
    }
    .m-menu-area{
        display: none;
        position: absolute;
        right: 5%;
        width: 300px;
        z-index: 4;
    }
    .m-size-nav{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    .m-size-nav .menu-open{
        margin: 0;
        padding: 0.8em;
    }
    .logo{
        margin-bottom: 0.5em;        
    }
    .timestart{
        display: none;
    }
    .m-timestart{
        display: inline-block;
        width: 100%;
        padding: 0.8em;
        width: 20em;
    }
    .time-area p{
        font-size: 70px;
    }

    .lnb-open{
        display: inline-block;
        background-color: white;
        width: 150px;
        border: 1px solid #a3b18a;
        border-radius: 5px;
        margin-top: 10px;
    }
    .lnb-open ul{
        padding: 0;
    }

    /*메인 모바일*/
    .loginMain{
        display: block;
    }
    .loginUserInfoLeft{
        width: 100%;
    }
    .loginUserInfoRight{
        display: flex;
        gap: 1em;
    }
    #studyTimeChart{
        max-width: 500px;
        max-height: 300px;
    }
    .userStudyGroup{
        width: 100%;
    }

    /*회원정보 수정 모바일*/
    .userinfo{
        flex-direction: column;
    }

    #user{
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        flex-direction: column;
    }
    .userinputbox{
        display: flex;
        flex-direction: row;
        margin: 10px 0;
        width: 100%;
    }
    .profile-chage{
        margin-left: -4em;
    }

}

@media (max-width: 1250px) {
    .time-area{
        font-size: 4em;
    }
}

@media (max-width: 1050px) {
    #studyTimeChart{
        max-width: 600px;
    }
}
@media (max-width: 850px) {
    /*메인*/
    .loginMain{
        flex-direction: column;
    }
    /*회원정보 수정*/
    .resume-file{
        flex-direction: column;
        gap: 1em;
    }
    .file-item{
        width: 100%;
    }

    .time-area{
        font-size: 3em;
    }

    .time-area p{
        font-size: 50px;
    }

    #studyTimeChart{
        max-width: 500px;
    }
}