.swiper-container {
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
}

/*슬라이드 버튼*/
.swiper-button-prev, .swiper-button-next{
    color: #1c4827;
}
.swiper-pagination-bullet-active{
    background: #1c4827;
}
.control-button {
    color: #1c4827;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}

.control-button i {
    font-size: 24px;
}

/*슬라이드 배너*/
.banner-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    padding: 20px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    gap: 1em;
    margin-bottom: 1.5em;
}
.banner-img{
    display: inline-block;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    overflow: hidden;
}
.banner-img img{
    width: 100%;
    height: 100%;
}
.banner-item-top{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 10px;
}
.banner-title{
    margin-left: 5px;
}
.banner-main-title{
    text-align: left;
    font-weight: bold;
    width: 210px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
}
.banner-id{
    text-align: left;
    font-size: 13px;
}
.banner-tag{
    border: 1px solid #A2B18A;
    color: #588159;
    border-radius: 5px;
    padding: 3px 7px;
}
.banner-content{
    text-align: left;
    height: 45px;
}
.control-button{
    position: absolute;
    bottom: -15px;
    right: 0;
    background-color:transparent;
}
.study-banner-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    gap: 10px;
    margin-bottom: 1.5em;
}

/*메인 스터디그룹 슬라이더*/

.userStudyGroup{
    position: relative;
    overflow: hidden;
    margin-top: 1em;
}
.loginUserInfoRight {
    overflow: hidden; /* 슬라이더 컨테이너 넘침 방지 */
}


.userStudyGroupList .swiper-slide{
    border-radius: 5px;
    border: 1px solid #dad8cc;
}

.studyGroupTitle{
    margin: 10px 0;
    text-align: center;
    font-size: 17px;
}
.userStudyGroupDetail{
    width: 100%;
}
.userStudyGroupMemerList{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    min-height: 200px;
    max-height: 250px;
    overflow: hidden;
}

/*상태표시*/
/* 추가 스타일 */
.study-status{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.study-status.ACTIVE { /* 활동중 */
    background-color: #8FC8EB;
}
.study-status.STUDYING { /* 공부중 */
    background-color: #E99E75;
}
.study-status.RESTING { /* 쉬는중 */
    background-color: #BBAAB8;
}
.study-status.NOT_LOGGED_IN { /* 미로그인 */
    background-color: transparent;
}

/*스터디 멤버 프로필*/
.memberItem{
    display: flex;
    align-items: center;
    gap: 4px;
}
.study-profile-img{
    display: inline-block;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    overflow: hidden;
}
.study-profile-img img{
    width: 100%;
    height: 100%;
}
.study-status span{
    position: absolute;
    opacity: 0;
}

