/*내정보 - 프로필*/
.userprofile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userinfo{
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
}
.userinfo .profile-img{
    width: 6em;
    height: 6em;
}
.userdata{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1.5em;
}
.userItem{
    width: 10em;
}

.longUserItem{
    width: 18em;
}
/*내정보 - 그래프 영역*/
.statistics{
    margin-bottom: 1em;
}
.total-activity{
    gap: 1em;
}
.total-activity .secondary-default{
    width: 100%;
}
.activity-title{
    width: 9em;
    text-align: left;
}
.activity-title + p {
    /*width: 4em;*/
    text-align: right;
}
/*내정보 - 이력서*/
.resume{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.resume-title{
    width: 100%;
    margin-bottom: 1em;
}
.resume-file{
    width: 100%;
}
.customfile{
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.file-item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 10em;
    border: 1px solid #3b593f;
    border-radius: 5px;
}
.fileUpload{
    padding: 10px 0;
    width: 10em;
    border-radius: 5px;
    background: #3b593f;
    color: white;
    margin-top: 1em;
}
.customfile-lable{
    cursor: pointer;
}
.file-delete{
    position: absolute;
    right: 0;
    top: 0;
}
.non-file{
    background: #f0f0f0;
    border: 1px dashed #C6C6C6;
}
/*회원정보 수정*/
.updateForm{
    margin: 0 auto;
    padding: 2em;
}
.updateForm h3{
    margin: 10px 0;
}
.buttonBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
}
.updatebutton{
    width: 10em;
}
#user{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    flex-direction: row;
}
.userinputbox{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    width: 46%;
}
.userinputbox label, .userinputbox dt{
    margin-bottom: 0.5em;
    margin-right: 1em;
    width: 11em;
}
.userinputbox input[type="text"], .userinputbox input[type="password"], .userinputbox input[type="email"]{
    width: 100%;
}
.profile-chage{
    margin-left: 0;
}
#userEditForm{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.profile-change-user{
    width: 180px;
}

.div-img-box{
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}
/*회원정보 수정 모바일*/
@media (max-width: 1200px) {
    .userinfo{
        flex-direction: column;
    }

    #user{
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        flex-direction: column;
    }
    .userinputbox{
        display: flex;
        flex-direction: row;
        margin: 10px 0;
        width: 100%;
    }
    .profile-chage{
        margin-left: -4em;
    }
}
@media (max-width: 850px) {
    .resume-file{
        flex-direction: column;
        gap: 1em;
    }
    .file-item{
        width: 100%;
    }
}