<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bit.naver.mapper.StudyReferencesMapper">
    <select id="getAllPosts" resultType="bit.naver.entity.StudyReferencesEntity">
        SELECT * FROM StudyReferences
    </select>

    <select id="getTotalPosts" resultType="int">
        SELECT COUNT(*) FROM StudyReferences
    </select>
</mapper>
