<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bit.naver.mapper.CalendarMapper">

    <insert id="insertCalendar" parameterType="bit.naver.entity.Calendar">
        INSERT INTO Calendars (cal_idx, user_idx, title, description, start, end, allDay, location, reminder, background_color)
        VALUES (#{calIdx}, #{userIdx}, #{title}, #{description}, #{start}, #{end}, #{allDay}, #{location}, #{reminder}, #{backgroundColor})
    </insert>

    <select id="selectAllCalendarsByUserIdx" parameterType="Long" resultType="bit.naver.entity.Calendar">
        SELECT schedule_idx AS scheduleIdx,
               cal_idx AS calIdx,
               user_idx AS userIdx,
               title,
               description,
               start,
               end,
               allDay,
               location,
               reminder,
               background_color AS backgroundColor
        FROM Calendars
        WHERE user_idx = #{userIdx}
    </select>

    <select id="selectCalendarByIdx" parameterType="Long" resultType="bit.naver.entity.Calendar">
        SELECT schedule_idx AS scheduleIdx,
               cal_idx AS calIdx,
               user_idx AS userIdx,
               title,
               description,
               start,
               end,
               allDay,
               location,
               reminder,
               background_color AS backgroundColor
        FROM Calendars
        WHERE schedule_idx = #{scheduleIdx}
    </select>

    <update id="updateCalendar" parameterType="bit.naver.entity.Calendar">
        UPDATE Calendars
        SET title = #{title},
        description = #{description},
        start = #{start},
        end = #{end},
        allDay = #{allDay},
        location = #{location},
        reminder = #{reminder},
        background_color = #{backgroundColor}
        WHERE schedule_idx = #{scheduleIdx}
    </update>

    <delete id="deleteCalendar" parameterType="Long">
        DELETE FROM Calendars
        WHERE schedule_idx = #{scheduleIdx}
    </delete>
</mapper>

