<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bit.naver.mapper.TimerMapper">
    <insert id="insertStartTime" useGeneratedKeys="true" keyColumn="record_idx" keyProperty="record_idx">
        INSERT INTO StudyRecords (user_idx, date, start_time)
        VALUES (#{user_idx}, now(), now())
    </insert>

    <update id="updateEndTime">
        UPDATE StudyRecords
        SET end_time = now(), study_time = #{study_time}
        WHERE user_idx = #{user_idx} and record_idx = #{record_idx}
    </update>

    <update id="updateMemo">
        UPDATE StudyRecords
        SET memo = #{memo}
        WHERE user_idx = #{user_idx} and record_idx = #{record_idx}
    </update>

    <select id="totalStudyTime">
        SELECT SUM(study_time) FROM StudyRecords WHERE user_idx = #{user_idx}
    </select>

    <select id="todayStudyTime">
        SELECT SUM(study_time) FROM StudyRecords WHERE user_idx = #{user_idx} and date = now()
    </select>
</mapper>
